    
.conteudo_listar{
    background-color: #fff;
}
.conteudo_listar .conteudo_tabela{
    margin-top: 10px;
}

.topo_listar{
    width:100%;
    margin-bottom: 15px;
    /*padding-right: 1.5%;
    padding-left: 1.5%;*/
    
    background-color: #3a5261;
    color: #fff;
}
.topo_listar h3{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.topo_listar .btn-primary{
    padding-top: 15px;
    text-align: center;
    border-radius: 0px;
    height: 100%;
    width: 100%;
    background-color: #3a5261;
    color: #fff;
    
}

.topo_listar .btn-primary:hover{
    border-radius: 2px;
    background-color: #fff;
    color: #3a5261;
    transition: .5s;
   
}


.conteudo_grande{
    /*background-color: black;*/
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 40px;         
    padding:10px;
}
.conteudo_grande form{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.dropdown-toggle{

    height: 35px;
}   
.conteudo_tabela{
    width: 100%;
    margin-top: 40px;
    /*margin-right: 1%;
    margin-left: 1%;*/
    padding:10px;
}

.conjunto_itens{
    /*background-color: pink;
    border: 2px solid red;*/
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    }

.conjunto_itens .col-md-2{
    margin-top: 10px;
}

.conjunto_itens .btn-primary{
    width: 100%;
}

.conteudo{
    /*background-color: gray;*/
    width: 90%;
    margin-top: 40px;
    margin-right: 5%;
    margin-left: 5%;

    padding:10px;

}
form{
    /*background-color: blue;*/
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

form .btn-primary{
    /*border:1px solid red;*/
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;

}
.placeholder_colored::-webkit-input-placeholder  {
    color: red;
    text-align: left;
} 
.sucesso{
    width: 100%;
    background-color: green;
}

.a_precadastro{
    background-color: #66ccff;
    padding: 3px; 
    margin-top: 20px;
}

td,th{
    text-align: center;
}

.form-row{
    /*margin-top: 10px;*/
    margin-bottom: 10px;
}


.formulario{
    margin-top: 50px;
}

#alert_id{
    margin-top: -10px;
}

.modal-footer a{
    text-decoration: none;
    color: white;
}


.btn-outline-add{
    background-color:#3a5261;
    color:white;
}

.btn-outline-add:hover{
    background-color:#ddd;
    color:#3a5261;
}


.form-inline{
    width: 100%;
    /*background-color: #7abaff;*/
}





.conteudo_tabela a{
    color: black;
}
.td_a{
    background-color: rgba(255,255,255,0.6);
    /*border: 0.5px solid black;*/
    color: white;
}

.td_a:hover{
    background-color: #ddd;
    color: black;
    transition: .5s;
}

.fa-edit,.fa-trash-alt{
    color: black;
}

.preparo input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 10px;
}
