@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* TAGS */
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
    height: fixed;
    width: 100%;
    box-shadow: 0px 0px 5px #a8a8a8;
}
main{
  height: 500px;
}

footer{
    position: auto;
    height: 200px;
    background-color: #3a5261;
}


h1{
  font-family: 'Roboto', sans-serif;
  color: #303030;
  margin-bottom: 15px;
}



/* CLASSES */
.HeaderImg{
  width: 100%;
  height: auto;
}

.form-box{
  width: 400px;
  height: auto;
  text-align: center;
  padding: 2.5%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #efefef;

  box-shadow: 0px 0px 15px #a8a8a8

}

.txtbox{
  transition-duration: 0.2s;
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: #e2e2e2;
  padding: 3%;
}

.btn{
  border: none;
  padding: 3%;
  width: 46%;
  background-color: #445f6d;
  font-weight: regular;
  color: white;
  letter-spacing: 2px;
  display: inline-block;
  transition-duration: 0.2s;
  cursor: pointer;
}

.btn:hover{
  border: none;
  padding: 3%;
  width: 46%;
  font-weight: regular;
  color: white;
  letter-spacing: 2px;
  display: inline-block;
  background-color: #73a1b8;
}